!{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div>
        <h1 style="color:rgb(0, 44, 132)">Hola mundo a</h1>
        <link rel="stylesheet" href="{static 'css/styles.css' %}">
        <p style="color:black">Lorem, ipsum dolor sit amet consectetur adipisicing elit.  </p>
        <p class="segundo">Exercitationem deserunt ipsum veritatis corporis doloremque repellendus nam, cumque velit  </p>
        <p id="t1">voluptas ad eveniet rem a debitis adipisci, provident nihil iste optio quisquam! </p>
        <a href="{% url 'bio'%}"> ir a bio</a>
        
    </div>

    
    
</body>
</html>